---
title: "Vinaque sanguine metuenti cuiquam Alcyone fixus"
author: [Author Name]
date: "2017-02-20"
subject: "Markdown"
keywords: [Markdown, Example]
subtitle: "Aesculeae domus vincemur et Veneris adsuetus lapsum"
lang: "en"
titlepage: true
titlepage-color: "D8DE2C"
...

{% for issue in data %}
##{{ issue.title|safe }}
**Labels**: {{ issue.labels|safe }}

{{ issue.body|safe }}
{% endfor %}